<p id="notice"><%= notice %></p>

<h1>Listing Admin Prizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_prizes.each do |admin_prize| %>
      <tr>
        <td><%= admin_prize.name %></td>
        <td><%= admin_prize.description %></td>
        <td><%= admin_prize.amount %></td>
        <td><%= link_to 'Show', admin_prize %></td>
        <td><%= link_to 'Edit', edit_admin_prize_path(admin_prize) %></td>
        <td><%= link_to 'Destroy', admin_prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prize', new_admin_prize_path %>
